venv/
.venv/
__pycache__/
*.pyc
build/
dist/
*.db
.license_cache
.env
.env.local
.vercel
.env*
dev_config.json
hwid-client/target/
.idea/
.next/
node_modules/
labels/
push_via_api.py
